main{
  display:flex;
  flex-wrap:nowrap;
  justify-content:center;
}
#intentos{
  width: 350px;
  display:inline-block;
}

#numeroIntentos{
  font-weight: bold;
  text-align:center;
}

#tablero{
  display:flex;
  flex-direction:column;
}

#tablero div{
  display:flex;
  justify-content:center;
}

#qwerty{
  display:flex;
  flex-direction:column;
}
.qwerty{
  display:flex;
  justify-content:center;
  flex-wrap:nowrap;
}

.qwerty button{
  font-size:16px;
  font-weight:bold;
  margin:3px;
  height: 40px;
  width: 40px;
}

#palabraAdivinar span {
  font-size: 2em;
  border-bottom: 1px solid black;
  width:30px;
  text-align: center;
}

.espacio{
  color:white;
}

#mensaje{
  color:#e11484;
  font-weight:bold;
}

#botonIndex{
  display: flex;
  justify-content: center;
}