article{
  display:flex;
  flex-wrap:nowrap;
  /*align-items: center;*/
  padding:10px;
}
#seccion1{
  display:flex;
  flex-direction:column;
}
#fotoUsuarioPerfil{
  height:300px;
  width:300px;
}
#seccion1 a{
  display:flex;
  justify-content:center;
}

#datosPerfil{
  margin-left:50px;
}

#datosPerfil h2{
  font-weight:normal;
}

#juegosJugados{
  background-color:#ebebeb;
  height:250px;
  width:950px;
}
.ImagenODS{
  height:100px;
  width:100px;
  padding:5px;
}